<filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|svg|css)$">
    Header set Cache-Control "max-age=31536000, public"
</filesMatch>

directoryIndex public/members/index.php

#Redirection code starts

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#Redirection code Ends
